<!-- app/views/broadcasts/new.html.erb -->
<h1><%= I18n.t('New Broadcast') %></h1>

<%= form_with(model: @broadcast, local: true, class: 'edit-broadcast-form') do |form| %>
  <% if @broadcast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@broadcast.errors.count, "error") %> prohibited this broadcast from being saved:</h2>
      <ul>
        <% @broadcast.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="broadcasts-container-edit">
    <div class="broadcast-card-desktop mirror-effect" data-broadcast-id="desktop">
      <label class="card-checkbox">
       
      </label>
      <div class="shadow-effect"></div>
      <div class="upload-desktop">
        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'input-field' %>
        </div>
        
        <div class="field">
          <%= form.label :video %>
          <%= form.file_field :video, class: 'input-field' %>
        </div>
        
        <div class="field">
  <%= form.label :show_widgets, 'Show Widgets' %>
  <%= form.check_box :show_widgets %>
</div>


        <div class="actions">
          <%= form.submit I18n.t('Create Broadcast'), class: 'submit-btn' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<style> 
.delete-link {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.delete-link:hover {
  color: darkred;
  text-decoration: underline;
}

.broadcasts-container-edit {
    flex-wrap: wrap;
    gap: 15px;
    z-index: 800;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
    color: white;
    display: flex
;
margin-top: 59px;
}

.shadow-effect {
    border-radius: 5px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: absolute;
    background: linear-gradient(to top, rgb(0 0 0 / 97%) 0%, rgb(255 255 255 / 0%) 100%);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #ffffff;
    top: 0;
    position: absolute;
    width: -webkit-fill-available;
    background-color: #a4a5ab;
    padding: 27px;
    margin: 0;
    height: 64px;
}
h1::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: -webkit-fill-available;
  height: 3px;
  background: radial-gradient(circle at center top, rgb(255 111 0) 0%, transparent 70%);
  pointer-events: none;
  z-index: 1;
}
.field {
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #45a049;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #387a3e;
}


</style>
